
html, body, #root {
  height: 100%;
}

.container {
  margin: 50px auto;
  width: 80%;
}

.ant-form-inline .ant-form-item {
  margin-bottom: 20px;
  width: 100%;
  padding-right: 25px;
}

.ant-calendar-picker {
  width: 100%;
}

.ant-form-inline .ant-form-item > div {
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
}

.ant-search-input-wrapper {
  width: 100%;
}

.ant-modal-body .json-form-label {
  padding-left: 0;
}

.json-form-group {

}

.json-form-label {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  padding-left: 25px;
}

.json-form-control {

}

.json-form-object {
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f7f7f7;
  margin-left: 25px;
  margin-right: 40px;
}

.json-form-object > label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
  padding-left: 22px;
}

.json-form-table {
  width: 100%;
  margin: 15px 0;
}

.json-form-table-add-btn {
  margin-bottom: 15px;
  padding-left: 25px;
}

.json-form-table div:first-of-type {
  width: 100%;
}
